{% extends "main.html"%}
{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-2">Trouvez des hébergements sur tamaloft</h1>
    <p class="text-center ">Découvrez des chambres privées ou des logements entiers, parfaitement adaptés à tout type de voyage.</p>
    <div class="container mb-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card shadow" style="width: 18rem;">
                    <img src="https://images.pexels.com/photos/13871332/pexels-photo-13871332.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><a class="text-decoration-none" href="#">Card title</a></h5>
                      <p>Localisation: Douala, NewBell</p>
                      <p ><span class="text-success" style="font-weight:700">125.000 CFA</span> / an</p>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Visitez</a>
                      <a href="#" class="btn btn-success">Réserver</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://images.pexels.com/photos/13871308/pexels-photo-13871308.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p>Localisation: Bafoussam, Marché B</p>
                      <p ><span class="text-success" style="font-weight:700">125.000 CFA</span> / an</p>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Visitez</a>
                      <a href="#" class="btn btn-success">Réserver</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://images.pexels.com/photos/6763622/pexels-photo-6763622.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p>Localisation: Douala, Ndogpassi 2</p>
                      <p ><span class="text-success" style="font-weight:700">125.000 CFA</span> / an</p>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Visitez</a>
                      <a href="#" class="btn btn-success">Réserver</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}